@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
html{
    scroll-behavior: smooth;
}

p,h1{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: #E54B4B;
}

.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* darkening the background */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./pictures/hero\ img\ 2.jpeg"); 
}

.hero-button2{
    display: none;
}
.btn1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #E54B4B;
    background: none;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn1:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #E54B4B;
    background: #E54B4B;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px,10%;
    
    
}

.nav-logo{
    height: 80px;
    width: 100px;
    margin: 10px;
}
 
ul li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin: 0px 10px;
    font-size: 17px;
}

a{
    text-decoration: none;
}

ul li a{
    transition: all 0.3s ease 0s;
}

ul li a:hover{
    color: #E54B4B;
}

.hero-phrase{
    font-family: 'Kanit', sans-serif;
    color: white;
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 60px;
    /* border-top: 5px solid #ffffff;  */
}

.hero-phrase::before{
    content: '';
    position: absolute;
    width: 250px;
    border-bottom: 5px solid white;
}

.japanese-cuisine{
    color:#E54B4B;
}

.hero-japanese{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 60px;
    font-family: 'Noto Sans JP', sans-serif;
    color:#E54B4B;
}

/* menu portion */

.menu{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #000000;
    background-image: url(./pictures/ramen\ menu\ final.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;
     
    
}

.card-container{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    translate: -190px 0px 0px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 240px;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    
}
.menu-phrase{
    font-family: 'Comforter', cursive;
    translate: 28vw ;
    align-self:flex-start;
    font-size: 50px;
    margin-top: 100px;
}

.menu-title{
    font-family: 'Comforter', cursive;
}

.card-phrase{
    color: #F6E3C2;
    font-family: 'Comforter', cursive;
    font-size: 30px;
}
card-img{
    width: 240px;
    height: 340px;
    border-top: 7px solid #E54B4B;
    border-bottom: 7px solid #E54B4B;
    padding-top: 10px;
    padding-bottom: 10px;
}

#card1,#card3{
    translate: 0px 30px;
    
}

.card-img{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
    width: 200px;
}

/* about us section */

.about-us{
    height:100vh;
    width: 100%;
    background-color: #F6E3C2; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#ramen-illus{
    height: 800px;
    width: 800px;
}

.top-text, .middle-text, .description-text{
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 50px;
}
.top-text{
    font-size: 15px;
    color: #313638;
}
.middle-text{
    color: #1e9e67;
    font-size:55px;
}
.description-text{
    color: #313638;
    margin-top: 20px;
}

.btn2{
    font-family: 'Montserrat', sans-serif;
    color: #313638;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #1e9e67;
    background: none;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn2:hover{
    font-family: 'Montserrat', sans-serif;
    color: #313638;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #1e9e67;
    background: #1e9e67;
    font-size: 17px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
}
/* footer portion */
.fa {
    padding: 5px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: #ffffff;
    margin-right: 15px;
  }

  .fa-facebook:hover{
    color: #3b5998;
  }

  .fa-twitter:hover{
    color: #00acee;
  }

  .fa-instagram:hover{
    color: #d62976;
  }

  footer{
    background-color: #494949;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    
  }

  .logo-ramen{
    height: 100px;
    width: 150px;
    align-self: flex-start;
  }

  .icons{
    display:flex;
    
  }


.footer-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
}

.footer-links li{
    padding: 5px;
    font-size: 15px;
}

.copyright {
    position: relative;
    height: 20px;
    width: 100%;
    background-color:#494949 ;
}

p.copyright-text {
    position: absolute;
    width: 100%;
    color: #929292;
    line-height: 15px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

@media screen and (max-width: 600px){
    
    /* footer portion */
    footer{
        background-color: #494949;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 30vh;
        overflow: hidden;
        
      }


      
      .footer-links{
        display: flex;
        flex-direction: row;
      }

      .logo-ramen{
        height: 100px;
        width: 150px;
        align-self: flex-start;
      }

      /* about-us-portion */
      .about-us{
        height:60vh;
        width: 100%;
        background-color: #F6E3C2; 
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
    }
    
    #ramen-illus{
        height: 200px;
        width: 200px;
    }
    
    .top-text, .middle-text, .description-text{
        font-family: 'Noto Sans JP', sans-serif;
        margin-left: 10px;
        text-align: center;
    }
    .top-text{
        font-size: 35px;
        color: #313638;
    }
    .middle-text{
        color: #1e9e67;
        font-size:30px;
    }
    .description-text{
        color: #313638;
        margin-top: 20px;
        font-size: 15px;
    }

    .book-button-aboutus{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .btn2{
        font-family: 'Montserrat', sans-serif;
        color: #313638;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #1e9e67;
        background: none;
        font-size: 17px;
        cursor: pointer;
        margin-left: 20px;
        left: 50%;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s;
    }
    
    .btn2:hover{
        font-family: 'Montserrat', sans-serif;
        color: #313638;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #1e9e67;
        background: #1e9e67;
        font-size: 17px;
        cursor: pointer;
        margin-left: 20px; 
        padding: 10px 20px;
        border-radius: 5px;
        color: black;
    }
    
    /* landing page */
      
    .hero-phrase{
        font-family: 'Kanit', sans-serif;
        color: white;
        position: absolute;
        top: 35%;
        left: 10%;
        font-size: 60px;
        border: none;
    }
    /* adding line on top */
    .hero-phrase::before{
        content: '';
        position: absolute;
        width: 47vw;
        border-bottom: 5px solid white;
    }

    .hero-button{
        display: none;
    }

    .hero-button2{
        display: flex;
        position: absolute;
        bottom: 10%;
        left: 10%;
    }

    
    .btn1{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #E54B4B;
        background: none;
        font-size: 17px;
        cursor: pointer;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s;
    }
    
    .btn1:hover{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-decoration: none;
        border: 1px solid #E54B4B;
        background: #E54B4B;
        font-size: 17px;
        cursor: pointer;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        color: black;
    }
}











